* {
  padding: 0;
  margin: 0;
  background-color: #2d3741;
  color: whitesmoke;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.question-container {
  border-radius: 10px;
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header {
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.options {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.satisfaction-option {
  background-color: #53C914;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px auto;
  display: block;
  width: 150px;
  cursor: pointer;
  border-radius: 5px;
}

.satisfaction-option:hover {
  background-color: #45a049;
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


